src/main/resources/Deposits.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="bank">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deposit" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="country"/>
                            <xs:element type="xs:string" name="type"/>
                            <xs:element name="depositor">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="sex"/>
                                        <xs:element type="xs:byte" name="age"/>
                                        <xs:element type="xs:string" name="first_name"/>
                                        <xs:element type="xs:string" name="last_name"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:long" name="account_id"/>
                            <xs:element name="amount_on_deposit">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:positiveInteger" name="dollars_USA"/>
                                        <xs:element type="xs:positiveInteger" name="hrivnas"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:double" name="profitability"/>
                            <xs:element name="time_constraints">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:integer" name="days"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="sex">
        <xs:restriction base="xs:string">
            <xs:enumeration value="male"/>
            <xs:enumeration value="female"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="age">
        <xs:restriction base="xs:byte">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="first_name">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="dollars_USA">
        <xs:restriction base="xs:positiveInteger">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="hrivnas">
        <xs:restriction base="xs:positiveInteger">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>