src/main/resources/testSpace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://www.testSpace.com">

    <xsd:complexType name="amount_on_deposit">
        <xsd:sequence>
            <xsd:element name="dollars_USA" type="xsd:positiveInteger"/>
            <xsd:element name="hrivnas" type="xsd:positiveInteger"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
