src/main/resources/testSpace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://www.w3.org/1999/xhtml">

    <xs:complexType name="amount_on_deposit">
        <xs:sequence>
            <xs:element name="dollars_USA" type="xs:positiveInteger"/>
            <xs:element name="hrivnas" type="xs:positiveInteger"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
